body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

[id=title-billypedia]{
    font-size:2em;
}
[id=all-contents] {
    max-width: 800px;
    margin: auto;
}


/* navigation menu */

nav {
    background: rgb(239, 80, 41);
    background: black;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}

nav ul {
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    list-style-image: none;
   
   
}
ul{ 
    list-style-type:none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */

main {
    background: rgb(245, 238, 219);
    display: flex;
}

[class=sidebar] {
    margin-right: 10px;
    padding: 10px;
}
    
[class=recording]{
    color: blue;
}

[class=content] {
    flex: 1;
    padding: 4px;
    padding-top: 0;
    margin-right: 10px;
}


[class=discography] header {
    font-size: 1.25em;
}

[id="image-billy"] {
    border: 5px solid;
    border-color: rgba(125, 198, 205, 1);
    cursor: pointer; cursor: hand;
    min-width: 200px;
    min-height: 200px;
}
.image{
    border: 5px solid;
    border-color: rgba(125, 198, 205, 1);
    cursor: pointer; cursor: hand;
    min-width: 200px;
    min-height: 200px;
    margin-left:auto; 
    margin-right:auto;
    
}

[class = sidebar]{
    
    background-color:orange;
    border:5px ssolid;
    border-color: rgb(125, 198, 205);
}
[id = section-bio]{
    padding:2px;
    border:2px solid;
    border-color: rgb(125, 198, 205);
}
[id = section-praise]{
    border:2px solid;
    border-color: rgb(125, 198, 205);
}
[id = section-quotes]{
    border:2px solid;
    border-color: rgb(125, 198, 205);
}
[id=list-top-rated]{
    color:rgb(125, 198, 205);        
}
[class=recording]{
    color:rgb(125, 198, 205);        
}

.section-recordings {
    border: 5px solid;
    border-color: rgba(125, 198, 205, 1);
}

.header-recordings {
    padding: 4px;
    background-color: rgba(255, 255, 255, 1);
}

.list-recordings {
    -webkit-padding-start: 0;
    -webkit-margin-before: 2px;
    -webkit-margin-after: 2px;
}

.recording {
    padding: 1px 2px 1px 2px;
}
[id = rider-data]{
    margin-left:auto; 
    margin-right:auto;
  
}

tr:hover {
    background-color: #f5f5f5;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th, td {
    padding: 15px;
    text-align: left;
}

[class=sidebar] img {
    width: 200px;
    margin-left:15px; 
    margin-right:auto;
    margin-top:15px;
}